<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>MyFreeCams Recorder</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-red.min.css" />
  <style>
    a[disabled] {
      pointer-events: none;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    body {
      background-color: #efefef;
    }

    .padding {
      display: table-cell;
      width: 50%;
    }

    .container {
      display: table-cell;
    }

    a[ng-click],
    th[ng-click] {
      cursor: pointer;
    }

    .material-icons.mdi-24 {
      font-size: 24px;
    }

    .spinner {
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      background: #efefef;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .refresh {
      position: relative;
      top: 30px;
    }

    main > div {
      padding-top: 30px;
      z-index: 999;
    }

  </style>
</head>
<body ng-controller="AppController as vm">
  <div class="spinner" ng-hide="vm.ready">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header"> <!-- mdl-layout__header--scroll -->
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">MyFreeCams Recorder</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <button class="refresh mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-shadow--4dp" ng-click="vm.refresh()" title="reload">
            <i class="material-icons">refresh</i>
          </button>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="padding"></div>
        <div class="container ng-cloak">
          <table id="models" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('nm')" ng-class="vm.sortType == 'nm' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Name</th>
                <th ng-click="vm.sort('u.age')" ng-class="vm.sortType == 'u.age' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Age</th>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('vs')" ng-class="vm.sortType == 'vs' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">State</th>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('u.city')" ng-class="vm.sortType == 'u.city' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">City</th>
                <th ng-click="vm.sort('m.camscore')" ng-class="vm.sortType == 'm.camscore' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Score</th>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('u.country')" ng-class="vm.sortType == 'u.country' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Country</th>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('m.missmfc')" ng-class="vm.sortType == 'm.missmfc' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Miss MFC</th>
                <th class="mdl-data-table__cell--non-numeric" ng-click="vm.sort('m.new_model')" ng-class="vm.sortType == 'm.new_model' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">New</th>
                <th ng-click="vm.sort('m.rc')" ng-class="vm.sortType == 'm.rc' ? ('mdl-data-table__header--sorted-' + (vm.sortReverse ? 'ascending' : 'descending') ) : ''">Viewers</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="model in vm.models | orderBy:vm.sortType:vm.sortReverse" ng-class="{
                  'mdl-color-text--green-400 mdl-color--green-50': model.vs == -4,
                  'mdl-color-text--blue-300 mdl-color--blue-50': model.vs == -3,
                  'mdl-color-text--grey-400 mdl-color--grey-100': (model.vs == -2 || model.vs > 0),
                  'mdl-color-text--red-300 mdl-color--red-50': model.vs == -1
                }">
                <td class="mdl-data-table__cell--non-numeric">
                  <a class="mdl-color-text--blue-800" ng-click="vm.preview(model)">{{ model.nm }}</a>
                </td>
                <td>{{ model.u.age }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ model.state }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ model.u.city | limitTo:20 }}{{ model.u.city.length > 20 ? ' …' : '' }}</td>
                <td>{{ model.m.camscore }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ model.u.country | limitTo:20 }}{{ model.u.country.length > 20 ? ' …' : '' }}
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdi-24 mdl-color-text--amber-500">{{ model.m.missmfc ? 'star' : '' }}</i></td>
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdi-24 mdl-color-text--orange-500">{{ model.m.new_model ? 'new_releases' : '' }}</i></td>
                <td>{{ model.m.rc }}</td>
                <td>
                  <button id="{{ 'action-list-' + model.uid }}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="{{ 'action-list-' + model.uid }}">
                    <li class="mdl-menu__item" ng-click="vm.includeUid(model)" ng-disabled="model.nextMode == 1 || (model.mode == 1 && model.nextMode == undefined)">Include</li>
                    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="vm.excludeUid(model)" ng-disabled="model.nextMode == 0 || (model.mode == 0 && model.nextMode == undefined)">Exclude</li>
                    <li class="mdl-menu__item" ng-click="vm.deleteUid(model)" ng-disabled="model.nextMode == -1">Delete</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="padding"></div>
      </div>
      <img id="test" src="" alt="">
    </main>
  </div>

<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <script>
    var getState = function(vs) {
      var state = {
        'vs-4': 'Capturing',
        'vs-3': 'To Include',
        'vs-2': 'To Exclude',
        'vs-1': 'To Delete',
        'vs0': 'Online',
        'vs2': 'Away',
        'vs12': 'In Private',
        'vs13': 'In Group Show',
        'vs90': 'Online',
        'vs91': 'In Private',
        'vs127': 'Offline',
        'vs1000': 'Recording',
        'vs1001': 'To Iclude',
        'vs1002': 'To Exclude'
      };

      return state['vs' + vs] || 'Unknown';
    };

    var app = angular.module('app', []);

    app.controller('AppController', ['$timeout', '$http', function($timeout, $http) {
      var vm = this;

      vm.models = [];

      vm.sortType = 'nm';
      vm.sortReverse = false;

      vm.sort = function(sortType) {
        if (vm.sortType == sortType) {
          vm.sortReverse = !vm.sortReverse;
        } else {
          vm.sortType = sortType;
        }
      };

      vm.includeUid = function(model) {
        $http.get('/models/include', {params: {uid: model.uid}}).then(function(response) {
          model.nextMode = 1;
          model.vs = -3;
          model.state = getState(model.vs);
        });
      };

      vm.excludeUid = function(model) {
        $http.get('/models/exclude', {params: {uid: model.uid}}).then(function(response) {
          model.nextMode = 0;
          model.vs = -2;
          model.state = getState(model.vs);
        });
      };

      vm.deleteUid = function(model) {
        $http.get('/models/delete', {params: {uid: model.uid}}).then(function(response) {
          model.nextMode = -1;
          model.vs = -1;
          model.state = getState(model.vs);
        });
      };

      vm.preview = function(model) {
        console.log('http://video' + (model.u.camserv - 500) + '.myfreecams.com:1935/NxServer/ngrp:mfc_' + (100000000 + model.uid) + '.f4v_mobile/playlist.m3u8?nc=1423603882490');

        var url = 'https://www.myfreecams.com/#' + model.nm;
        window.open(url, '_blank');
      };

      vm.refresh = function() {
        vm.ready = false;

        $http
          .get('/models')
          .then(function(response) {

            vm.models = _
              .reject(response.data, function(m) {
                return m.mode < 0; // remove deleted models
              })
              .map(function(m) {
                if (!m.mode) {
                  m.mode = 0; // set "default" mode for models without mode
                }

                // set our own virtual value for vs field
                if (m.nextMode === 1) {
                  m.vs = -3; // to include
                } else if (m.nextMode === 0) {
                  m.vs = -2; // to exclude
                } else if (m.nextMode === -1) {
                  m.vs = -1; // to delete
                } else if (m.capturing == true) {
                  m.vs = -4; // capturing
                }

                // get text description of the state
                m.state = getState(m.vs);

                return m;
              });

            $timeout(function() {
              componentHandler.upgradeAllRegistered();
              vm.ready = true;
            });
          });
      };

      vm.refresh();
    }]);
  </script>
</body>
</html>
